
<div class="card-body">
    <div>
        <h3 style="text-align: left">Напишите комментарий!</h3>
        <br>
        <form method="post" action="/Comment/Create">
            <table>

                <tr>
                    <td>Комментарий</td>
                    <td><input type="text" name="title" class="form-control" /> </td>
                </tr>
                <tr>
                    <td>Название статьи:</td>
                    <td><input type="text" name="titleArticle" class="form-control" /></td>
                </tr>

            </table>
            <br>
            <button class="btn btn-primary" type="submit">Create</button>
        </form>
    </div>
</div>



