
<a asp-controller="Comment" asp-action="Create">Добавления комментария</a>
<a asp-controller="Comment" asp-action="ReadAll">Просмотр всех комментариев</a>
<a asp-controller="Comment" asp-action="Update">Редактирование</a>
<a asp-controller="Comment" asp-action="Delete">Удаление</a>
