


    <a asp-controller="User" asp-action="Register">Регистрация</a>
    <a asp-controller="User" asp-action="ReadAll">Просмотр</a>
    <a asp-controller="User" asp-action="Update">Редактирование</a>
    <a asp-controller="User" asp-action="Delete">Удаление</a>
