
<a asp-controller="Article" asp-action="Create">Регистрация</a>
<a asp-controller="Article" asp-action="ReadAll">Просмотр</a>
<a asp-controller="Article" asp-action="Update">Редактирование</a>
<a asp-controller="Article" asp-action="Delete">Удаление</a>
