
<div class="card-body">
    <div>
        <h3 style="text-align: left">Поиск пользователя по логину!</h3>
        <br>
        <form method="post" action="/Article/ReadForTitle">
            <table>

                <tr>
                    <td>Title:</td>
                    <td><input type="text" name="titleArticle" class="form-control" /> </td>
                </tr>
                
            </table>
            <br>
            <button class="btn btn-primary" type="submit">ReadForLogin</button>
        </form>
    </div>
</div>










